@import "~scss-coding-helpers";

.progress-bar {
  position: relative;
  height: 20px;


  &__wrapper {
    position: relative;
    background-color: silver;
    overflow: hidden;

    height: 100%;
    border-radius: 10px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    will-change: transform;
  }

  &__line {
    position: absolute;
    top: 0;

    display: block;
    width: 100%;
    height: 100%;

    background-color: red;
  }

  //line duration mode
  &_duration-ltr &__line {
    right: 100%;
  }

  &_duration-rtl &__line {
    left: 100%;
  }

}